.wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 100%;
}

.mapImage {
  max-width: 100%;
  height: auto;
  border-radius: 14px;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.15);
}
